body{
    margin: 0
}
.container{
    position:relative;
    height: 100vh;
    width: 100vw;
    /* background-color:gray */
}
.control{
    position:absolute;
    z-index:1;
    margin-top: 5px;
    margin-left: 5px; 
}

.game-board{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: auto;
    border: 2px solid black;
    /* height: 75vh; */
    /* width: 50vw; */
    background-color:lightgray;

}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}

.game-piece{
    display: inline-block;
    height: 100px;
    width: 100px;
    border: .5px solid black;
    background-color:white;
    text-align:center;
    line-height: 10vw;
}